<section class="text-gray-600 md:px-16 px-2 py-10 -mb-12 body-font">
    <h1 class="sm:text-3xl text-2xl font-medium title-font text-green mb-2">New Cars</h1>
    <div class="inline-flex my-4 md:text-md text-sm font-bold">
        <div class="cursor-pointer underline text-blue px-2">Popular Cars</div>
        <div class="px-2">Just Launched Caes</div>
        <div class="px-2">Upcoming Cars</div>
    </div>
    <div class="container mx-auto flex md:flex-row flex-col items-center w-full border-2">
        <div class="flex flex-wrap shadow-2xl rounded-xl green-border border-2 p-4">
            <div *ngFor="let number of [0,1,2,3,4]" class="md:w-1/5 w-1/2 p-3">
                <div class="max-w-sm rounded overflow-hidden shadow-lg green-border">
                    <img class="w-full" src="/assets/images/car.png" class="rounded-xl mx-auto">
                    <div class="px-6 py-">
                        <div class="font-bold text-xl mb-2 text-green">Tata Nexon</div>
                        <p class="text-gray-700 font-bold">
                            INR 8.25 Lakhs
                        </p>
                        <p class="text-gray-700 text-xs">
                            Ex-Showroom, India
                        </p>
                        <p class="text-gray-700 text-xs">
                            Get On-road price, Noida
                        </p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <button
                            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 green-border">Explore
                            Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="my-10 -mb-6">
    <img src="assets/images/ad3.png" class="mx-auto">
</div>

<section class="text-gray-600 md:px-16 px-2 py-10 -mb-12 body-font">
    <h1 class="sm:text-3xl text-2xl font-medium title-font text-green mb-2">Used Cars</h1>
    <div class="inline-flex my-4 font-bold">
        <div class="cursor-pointer underline text-blue px-2">2017-2021</div>
        <div class="px-2">2013-2016</div>
        <div class="px-2">2009-2012</div>
    </div>
    <div class="container mx-auto flex md:flex-row flex-col items-center">
        <div class="flex flex-wrap shadow-2xl rounded-xl green-border border-2 p-4">
            <div *ngFor="let number of [0,1,2,3]" class="md:w-1/4 w-full p-3">
                <div class="max-w-sm rounded overflow-hidden shadow-lg green-border">
                    <img class="w-full" src="/assets/images/car.png" class="rounded-xl mx-auto">
                    <div class="px-6 py-4">
                        <div class="font-bold mb-2 text-green">2020 Maruti Baleno</div>
                        <p class="text-gray-700 font-bold text-sm">
                            SIGMA 1.2 K12 Manual
                        </p>
                        <div class="flex flex-wrap my-2 text-xs text-blue">
                            <div class="w-1/2 border-2 green-border text-center">
                                1st Owner
                            </div>
                            <div class="w-1/2 border-2 green-border text-center">
                                Petrol
                            </div>
                        </div>
                        <div class="flex flex-wrap text-xs text-blue">
                            <div class="w-1/2 border-2 green-border text-center">
                                41,151 km
                            </div>
                            <div class="w-1/2 border-2 green-border text-center">
                                Non-Accidental
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap m-3 text-xs">
                        <div class="w-1/2 text-blue">
                            {{573299 | currency:'INR'}} Lakhs
                        </div>
                        <div class="w-1/2 text-green">
                            {{12753 | currency:'INR'}} / month
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-600 md:px-16 px-2 py-10 body-font">
    <h1 class="sm:text-3xl text-2xl font-medium title-font text-green mb-2">Compare Cars</h1>
    <div class="inline-flex my-4 font-bold">
        <div class="cursor-pointer underline text-blue px-2">SUVs</div>
        <div class="px-2">Electric Cars</div>
        <div class="px-2">Sedan Cars</div>
        <div class="px-2">Luxury Cars</div>
    </div>
    <div class="container mx-auto flex md:flex-row flex-col items-center">
        <div class="shadow-2xl rounded-xl green-border border-2 p-4">
            <div class="flex flex-wrap">
                <div *ngFor="let number of [0,1,2]" class="md:w-1/3 w-full p-3">
                    <div class="green-border">
                        <div class="flex flex-wrap">
                            <div class="w-1/2 green-border">
                                <img class="w-full" src="/assets/images/car.png" class="rounded-xl mx-auto">
                            </div>
                            <div class="w-1/2 green-border">
                                <img class="w-full" src="/assets/images/car.png" class="rounded-xl mx-auto">
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="w-1/2 text-center text-xs">
                                <p class="text-blue my-2 font-bold">Hyundai Creta</p>
                                <p class="text-green">{{10.16 | currency:'INR'}} - {{17.87| currency:'INR'}} Lakhs
                                </p>
                            </div>
                            <div class="w-1/2 text-center text-xs">
                                <p class="text-blue my-2 font-bold">Hyundai Creta</p>
                                <p class="text-green">{{10.16 | currency:'INR'}} - {{17.87| currency:'INR'}} Lakhs
                                </p>
                            </div>
                        </div>
                        <button class="w-full my-4 background-green text-white py-1 rounded">
                            Hyundai Creta Vs Skoda Kushaq
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>