<section class="text-gray-600 body-font">
    <div class="container mx-auto flex p-16 md:flex-row flex-col items-center">
        <div
            class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="sm:text-4xl text-5xl mb-2 font-medium font-bold" style="color: #7EC576;">Help Us to find a </h1>
            <p class="mb-8 font-bold text-4xl" style="color: #3B5EAB;">best car for you.</p>
            <div class="flex w-full md:justify-start justify-center items-end">
                <div class="flex items-center justify-center">
                    <div class="flex border-2 rounded-xl">
                        <input type="text" class="px-4 py-2 md:w-80 w-48">
                        <button class="flex items-center justify-center px-3 border-l rounded-xl"
                            style="background-color: #3B5EAB;">
                            <i class="fa fa-map-marker fa-lg text-white" aria-hidden="true"></i>
                        </button>
                        <button class="flex items-center justify-center px-6 border-l rounded-xl"
                            style="background-color: #3B5EAB;">
                            <span class="text-white">Go</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="hero" src="assets/images/jeep.png">
        </div>
    </div>
</section>


<section class="text-gray-600 body-font">
    <div class="container mx-auto flex p-16 md:flex-row flex-col items-center">
        <div
            class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <div class="flex flex-wrap shadow-2xl rounded-xl green-border">
                <div class="w-1/5"><img src="assets/images/car-logos/1.png"
                        class="shadow-xl rounded-lg m-3 mx-auto green-border"></div>
                <div class="w-1/5"><img src="assets/images/car-logos/1.png"
                        class="shadow-xl rounded-lg m-3 mx-auto green-border"></div>
                <div class="w-1/5"><img src="assets/images/car-logos/1.png"
                        class="shadow-xl rounded-lg m-3 mx-auto green-border"></div>
                <div class="w-1/5"><img src="assets/images/car-logos/1.png"
                        class="shadow-xl rounded-lg m-3 mx-auto green-border"></div>
                <div class="w-1/5"><img src="assets/images/car-logos/1.png"
                        class="shadow-xl rounded-lg m-3 mx-auto green-border"></div>

                <div class="w-1/5"><img src="assets/images/car-logos/1.png"
                        class="shadow-xl rounded-lg m-3 mx-auto green-border"></div>
                <div class="w-1/5"><img src="assets/images/car-logos/1.png"
                        class="shadow-xl rounded-lg m-3 mx-auto green-border"></div>
                <div class="w-1/5"><img src="assets/images/car-logos/1.png"
                        class="shadow-xl rounded-lg m-3 mx-auto green-border"></div>
                <div class="w-1/5"><img src="assets/images/car-logos/1.png"
                        class="shadow-xl rounded-lg m-3 mx-auto green-border"></div>
                <div class="w-1/5"><img src="assets/images/car-logos/1.png"
                        class="shadow-xl rounded-lg m-3 mx-auto green-border"></div>
            </div>
        </div>
    </div>
</section>

<app-new-cars></app-new-cars>