<div class="py-8">
    <img src="assets/images/about-us.png" class="mx-auto h-64">
</div>
<div class="py-8">
    <div class="flex flex-wrap">
        <div class="md:w-4/5 w-full px-24">
            <div class="text-blue">
                <p><b>Carndrive.com</b> has created the following Privacy and Security Policy (“Privacy Policy”) to
                    inform you
                    of the following: what information we collect, when we collect it, how and why we collect it, how we
                    use it, how we protect it, how we share it and what choices you have regarding our collection and
                    use of this information.</p>
                <br>
                <p>Entering the Sites constitutes your acceptance and agreement to the terms contained in this Privacy
                    Policy. If you do not agree with the terms set forth in this Privacy Policy, please do not enter the
                    Sites.</p>
            </div>
            <div class="pt-8">
                <p class="text-3xl text-green">What Information We Collect?</p>
                <div class="pt-3">
                    <p class="text-blue text-xl mb-1">Types of Information We Collect</p>
                    <ul class="list-disc text-gray-500">
                        <li>Your name</li>
                        <li>Your address</li>
                        <li>Your e-mail address</li>
                        <li>Your phone (or mobile) number</li>
                        <li>Information on how you are using the Sites</li>
                        <li>Your interactivity with us</li>
                    </ul>
                </div>
                <div class="pt-3">
                    <p class="text-blue text-xl mb-1">We Collect Information When</p>
                    <ul class="list-disc text-gray-500">
                        <li>You create an account
                        <li>You connect on social media platforms</li>
                        <li> You visit the Sites or participate in interactive features of the Sites such a survey or
                            mobile applications</li>
                        <li> You use a social media service, for example, CarNDrive Facebook page or YouTube channel
                        </li>
                        <li> You sign up for e-mails, mobile messages, or social media notifications from any of our
                            websites</li>
                        <li> You enter a contest or sweepstakes, respond to one of our surveys, or participate in a
                            focus group</li>
                        <li> You provide us with comments, suggestions, or other input</li>
                        <li> You interact with any of the Sites through your computer, tablet or mobile device</li>
                    </ul>
                </div>
            </div>
            <div class="pt-8">
                <p class="text-3xl text-green">How and Why We Collect the Information?</p>
                <div class="pt-3">
                    <p class="text-xl text-blue">Technologies Used</p>
                    <p class="text-gray-500">We may use tracking pixels/web beacons, cookies and or other technologies
                        to receive and store
                        certain
                        types of information. This information includes Internet Protocol (IP) addresses, browser
                        information, Internet
                        Service Provider (ISP), operating system, date/time stamp and clickstream data. This information
                        helps us
                        customize your website experience and make our marketing messages more relevant. It also allows
                        us to provide
                        features such as storage of items in your cart between visits. This includes carndrive.com
                        content presented on
                        other websites or mobile applications. In order to provide the best customer experience
                        possible, we also use this
                        information for reporting and analysis purposes, such as how you are consuming content on our
                        website,
                        performance of our marketing efforts, and your response to those marketing efforts.</p>
                </div>
                <div class="pt-3">
                    <p class="text-xl text-blue">Third Party Cookies</p>
                    <p class="text-gray-500">We allow third-party companies to collect anonymous information when you
                        visit the Sites and to use that
                        information to serve ads for carndrive.com products or services or for products or services of
                        other companies
                        when you visit the Sites or other websites. These companies may use anonymous information (e.g.,
                        navigational,
                        non-personally identifiable information, click stream information, browser type, time and date,
                        subject of
                        advertisements clicked or scrolled over, etc.) during your visits to the Sites and other
                        websites in order to
                        provide advertisements about our services likely to be of interest to you. These parties may use
                        a cookie or a
                        third party web beacon, or other technologies, to collect this information.
                </div>
                <div class="pt-3">
                    <p class="text-xl text-blue">User Experience Information</p>
                    <p class="text-gray-500">In order to improve customer online shopping experience, help with fraud
                        identification, and to assist our
                        customer care representatives in resolving issues customers may experience in completing online
                        purchases,
                        we use tools to monitor certain user experience information, including, but not limited to,
                        login information, IP
                        address, data regarding pages visited, specific actions taken on pages visited (e.g.,
                        information entered during
                        checkout process), and browser information.
                </div>
                <div class="pt-3">
                    <p class="text-xl text-blue">Information from Other Sources</p>
                    <p class="text-gray-500">We may also obtain information from companies that can enhance our existing
                        customer information to
                        improve the accuracy and add to the information we have about our customers (e.g., adding
                        address
                        information).
                        This may improve our ability to contact you and improve the relevancy of our marketing by
                        providing better
                        product recommendations or special offers that we think will interest you.
                </div>
                <div class="pt-3">
                    <p class="text-xl text-blue">Public Forums</p>
                    <p class="text-gray-500">Any information you submit in a public forum (e.g., a blog, chat room, or
                        social network) can be read, collected,
                        or used by us and other participants, and could be used to personalize your experience. You are
                        responsible for
                        the information you choose to submit in these instances.
                </div>
                <div class="pt-3">
                    <p class="text-xl text-blue">Mobile Privacy</p>
                    <p class="text-gray-500">Carndrive.com offers mobile applications (commonly known as “apps”) that
                        allow you to read online or receive
                        other information from carndrive.com. All information collected by carndrive.com via our mobile
                        application is
                        protected by this Privacy Policy.
                </div>
            </div>
            <div class="pt-8">
                <p class="text-3xl text-green">How We Use the Information We Collect?</p>
                <div class="pt-3">
                    <p class="text-xl text-blue">Marketing Purposes</p>
                    <p class="text-gray-500">
                        Send marketing communications and other information regarding products, services and promotions
                    </p>
                </div>
                <div class="pt-3">
                    <p class="text-xl text-blue">Internal Operations</p>
                    <p class="text-gray-500">
                        Improve the effectiveness of the Sites, mobile experience, and marketing efforts
                        Conduct research and analysis, including focus groups and surveys
                        Perform other business activities as needed, or as described elsewhere in this policy
                    </p>
                </div>
                <div class="pt-3">
                    <p class="text-xl text-blue">Fraud Prevention</p>
                    <p class="text-gray-500">
                        To prevent fraudulent transactions, monitor against theft and otherwise protect our customers
                        and our business
                    </p>
                </div>
                <div class="pt-3">
                    <p class="text-xl text-blue">Legal Compliance</p>
                    <p class="text-gray-500">
                        To assist law enforcement and respond to subpoenas
                    </p>
                </div>
            </div>
            <div class="pt-8">
                <p class="text-3xl text-green">How We Protect the Information We Collect?</p>
                <div class="pt-3">
                    <p class="text-xl text-blue">Security Methods</p>
                    <p class="text-gray-500">
                        we maintain technical, administrative, physical, electronic and procedural safeguards to protect
                        the
                        confidentiality and security of information transmitted to us. To guard this information, the
                        Sites use Secure
                        Sockets Layer (SSL). SSL encrypts your credit card number, name and address so only
                        carndrive.com is able to
                        decode the information
                    </p>
                </div>
                <div class="pt-3">
                    <p class="text-xl text-blue">E-mail Security</p>
                    <p class="text-gray-500">
                        Please note that e-mail is not encrypted and is not considered to be a secure means of
                        transmitting credit card
                        information. “Phishing” is a scam designed to steal your information. If you receive an e-mail
                        that looks like it is
                        from us asking you for certain information, do not respond. Though we might ask you your name,
                        we will never
                        request your password, credit card information or other information through e-mail
                    </p>
                </div>
                <div class="pt-3">
                    <p class="text-xl text-blue">Information about Children</p>
                    <p class="text-gray-500">
                        we recognize the particular importance of protecting privacy where children are involved. We are
                        committed to
                        protecting children’s privacy and we comply fully with the Children’s Online Privacy Protection
                        Act (COPPA).
                        Carndrive.com will never knowingly request or collect personal information from any person under
                        13 years of
                        age without prior verifiable parental consent. If we become aware that an individual is under
                        the age of 13 and
                        has submitted any information to carndrive.com, for any purpose without prior verifiable
                        parental consent,
                        we will delete his or her information from our file
                    </p>
                </div>
                <div class="pt-3">
                    <p class="text-xl text-blue">Additional Security</p>
                    <p class="text-gray-500">
                        We also ask customers to carefully review their accounts and immediately report any unexpected
                        activity to
                        carndrive.com. We are asking all our customers to take measures to help protect information in
                        their online
                        accounts, including the following:</p>
                    <div class="text-gray-500 ml-4 mt-3">
                    <ul>
                        <li>Install latest security updates and anti-virus software on your computer to help prevent
                            malware & viruses</li>
                        <li> Reset your e-mail account passwords frequently</li>
                        <li>Use complex passwords ( alpha/numeric cAsE sEnsitive characters)</li>
                        <li> Do not use the same password on more than one website</li>
                        <li> Do not share your password with others</li>
                        <li> Sign out/log off website sessions so that your session is closed and cannot be accessed by
                            another user </li>
                        <li> On the same computer, especially when using a public computer or terminal</li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="w-1/5 px-4 md:block hidden">
            <img src="assets/images/ad1.png" class="mx-auto py-8">
        </div>
    </div>
</div>