/* You can add global styles to this file, and also import other style files */
.green-border{
    border:1px solid #7EC576;
}

.text-green{
    color:#7EC576;
}

.background-green{
    background-color:#7EC576;
}

.blue-border{
    border:1px solid #3B5EAB;
}

.text-blue{
    color:#3B5EAB;
}